global
    maxconn 256
    nbthread 1
defaults
    mode http
    timeout connect 10s
    timeout client 120s
    timeout server 120s
    timeout tunnel 1h
frontend codex_http
    bind 10.10.10.10:18443
    acl codex_host hdr(host) -i codex.fengown.top codex.fengown.top:443
    http-request deny deny_status 403 unless codex_host
    http-request set-header X-Forwarded-Proto http
    option forwardfor
    default_backend codex
backend codex
    server cloudcli 10.10.10.143:5999 check

frontend ssh_http
    bind 10.10.10.10:18444
    acl ssh_host hdr(host) -i ssh.fengown.top ssh.fengown.top:443
    http-request deny deny_status 403 unless ssh_host
    http-request set-header X-Forwarded-Proto http
    option forwardfor
    default_backend ssh_web
backend ssh_web
    server sshwifty 10.10.10.143:8182 check
